.video__content-title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0;
    padding-bottom: 48px;
    white-space: pre;
}

@media screen and (max-width: 1022px) {
    .video__content-title {
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 766px) {
    .video__content-title {
        max-width: 700px;
        font-size: 32px;
        line-height: 35px;
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .video__content-title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .video__content-title {
        max-width: 343px;
        font-size: 32px;
        line-height: 35px;
        padding: 0;
    }
}

@media screen and (max-width: 373px) {
    .video__content-title {
        max-width: 288px;
        white-space: normal;
    }
}