.cover__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #FFFFFF;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
}

@media screen and (max-width: 430px) {
    .cover__link {
        height: 272px;
    }
}

@media screen and (max-width: 320px) {
    .cover__link {
        height: 216px;
    }
}