.comments__container {
    max-width: 1184px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1022px) {
    .comments__container {
        max-width: 382px;
        margin: 0 auto;
    }
}