@import url(../../blocks/lead/__caption/lead__caption.css);
@import url(../../blocks/lead/__image/lead__image.css);
@import url(../../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../../blocks/lead/__title/lead__title.css);
@import url(../../blocks/lead/__route/lead__route.css);
@import url(../../blocks/lead/__content/lead__content.css);

.lead {
    max-width: 985px;
    margin: 0 auto;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
}

@media screen and (max-width: 1278px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 1022px) {
    .lead {
        max-width: 100%;       
    }
}

@media screen and (max-width: 766px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 720px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .lead {
        max-width: 100%;
    }
}

@media screen and (max-width: 373px) {
    .lead {
        max-width: 100%;
    }
}