@import url(../../blocks/header/__lang/header__lang.css);
@import url(../../blocks/header/__lang/_active/header__lang_active.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1184px;
    margin: 0 auto;
    padding-top: 30px;
}

@media screen and (max-width: 1278px) {
    .header {
        max-width: 928px;
    }
}

@media screen and (max-width: 1022px) {
    .header {
        max-width: 720px;
    }
}

@media screen and (max-width: 766px) {
    .header {
        max-width: 700px;
    }
}

@media screen and (max-width: 720px) {
    .header {
        max-width: 700px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        max-width: 343px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 373px) {
    .header {
        max-width: 288px;
    }
}