.intro__content-row {
    max-width: 683px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-top: 48px;
    margin: 0;
}

@media screen and (max-width: 1022px) {
    .intro__content-row {
        max-width: 720px;
    }
}


@media screen and (max-width: 766px) {
    .intro__content-row {
        max-width: 700px;
        font-size: 16px;
        line-height: 27px;
        padding-top: 32px;
    }
}

@media screen and (max-width: 720px) {
    .intro__content-row {
        width: 100%;
        font-size: 16px;
        line-height: 27px;
        padding-top: 32px;
    }
}

@media screen and (max-width: 450px) {
    .intro__content-row {
        max-width: 343px;
        font-size: 16px;
        line-height: 27px;
        padding-top: 32px;
    }
}

@media screen and (max-width: 373px) {
    .intro__content-row {
        max-width: 288px;
    }
}