.lead__title {
    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
    max-width: 782px;
    text-align: center;
    margin: 0;
    padding-bottom: 48px;
}

@media screen and (max-width: 720px) {
    .lead__title {
        width: 450px;
        font-size: 62px;
        line-height: 64px;
    }
}

@media screen and (max-width: 450px) {
    .lead__title {
        max-width: 333px;
        font-size: 40px;
        line-height: 44px;
        padding-bottom: 8px;
    }
}

@media screen and (max-width: 373px) {
    .lead__title {
        max-width: 288px;
    }
}