.video__duration {
    width: 44px;
    height: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.3em;
    margin: 0;
    z-index: 0;
    padding-top: 165px;
    padding-left: 30px;
    grid-column: 1/4;
    grid-row: 1/2;
}

@media screen and (max-width: 1278px) {
    .video__duration {
        padding-top: 125px;
    }
}

@media screen and (max-width: 1022px) {
    .video__duration {
        padding-top: 104px;
    }
}

@media screen and (max-width: 766px) {
    .video__duration {
        padding-left: 24px;
    }
}

@media screen and (max-width: 373px) {
    .video__duration {
        padding-left: 16px;
        padding-top: 106px;
    }
}