.video__icon-play {
    padding-left: 30px;
    padding-top: 30px;
    z-index: 0;
    grid-column: 1/4;
    grid-row: 1/2;
}

@media screen and (max-width: 1022px) {
    .video__icon-play {
        padding-top: 25px;
    }
}

@media screen and (max-width: 766px) {
    .video__icon-play {
        padding-left: 24px;
    }
}

@media screen and (max-width: 373px) {
    .video__icon-play {
        padding-left: 16px;
        padding-top: 16px;
    }
}