.intro__text {
    max-width: 383px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    padding-top: 24px;
}

li span {
    font-style: normal;
    font-weight: normal;
}

@media screen and (max-width: 766px) {
    .intro__text {
        max-width: 343px;
        font-size: 12px;
        line-height: 19px;
    }
}

@media screen and (max-width: 373px) {
    .intro__text {
        max-width: 288px;
    }
}