.video__image-link {
    width: 583px;
    height: 323px;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: absolute;
    text-decoration: none;
    color: #FFF;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    background-size: cover;
    z-index: 1;
}