.lead__subtitle {
    width: 583px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 1022px) {
    .lead__subtitle {
        width: 670px;
    }
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
        width: 440px;
        font-size: 20px;
        line-height: 23px;
    }
}

@media screen and (max-width: 450px) {
    .lead__subtitle {
        max-width: 333px;
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width: 373px) {
    .lead__subtitle {
        max-width: 288px;
    }
}