@import url(../../blocks/cover/__title/cover__title.css);
@import url(../../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../../blocks/cover/__background/cover__background.css);
@import url(../../blocks/cover/__image/cover__image.css);
@import url(../../blocks/cover/__rect/cover__rect.css);
@import url(../../blocks/cover/__link/cover__link.css);

.cover {
    width: 100%;
    height: 594px;
    margin: 0 auto;
    color: #FFFFFF;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
}

.cover:hover .cover__rect {
    opacity: 0.5;
    transition: .5s;
}

@media screen and (max-width: 1278px) {
    .cover {
        height: 100%;
    }
}

@media screen and (max-width: 1022px) {
    .cover {
        height: 100%;
    }
}

@media screen and (max-width: 766px) {
    .cover {
        height: 100%;
    }
}

@media screen and (max-width: 373px) {
    .cover {
        height: 100%;
    }
}

