@import url(../../blocks/cover/__title/cover__title.css);
@import url(../../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../../blocks/cover/__background/cover__background.css);
@import url(../../blocks/cover/__image/cover__image.css);
@import url(../../blocks/cover/__rect/cover__rect.css);
@import url(../../blocks/cover/__link/cover__link.css);

.cover {
    max-width: 1184px;
    height: 594px;
    margin: 0 auto;
    color: #FFFFFF;
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    background-image: url('../../images/Baikal.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

.cover:hover .cover__rect {
    opacity: 0.8;
    transition: .5s;
}

@media screen and (max-width: 1278px) {
    .cover {
        max-width: 1045px;
        height: 562px;
    }
}

@media screen and (max-width: 1022px) {
    .cover {
        max-width: 768px;
        height: 500px;
        background-image: url('../../images/Baikal768.jpg');
    }
}

@media screen and (max-width: 766px) {
    .cover {
        max-width: 375px;
        height: 272px;
        background-image: url('../../images/Baikal375.jpg');
    }
}

@media screen and (max-width: 373px) {
    .cover {
        max-width: 320px;
        height: 216px;
        background-image: url('../../images/Baikal320.jpg');
    }
}

