@media (max-width: 1022px) {
    .video__duration_observatory {
        padding-top: 82px;
    }
}

@media (max-width: 720px) {
    .video__duration_observatory {
        padding-top: 190px;
    }
}

@media (max-width: 6000px) {
    .video__duration_observatory {
        padding-top: 82px;
    }
}