.video__subtitle {
    min-width: 174px;
    height: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    margin: 0;
    z-index: 0;
    padding-top: 280px;
    padding-left: 30px;
    padding-bottom: 30px;
    grid-column: 1/4;
    grid-row: 1/2;
}

@media screen and (max-width: 1278px) {
    .video__subtitle {
        padding-top: 240px;
    }
}

@media screen and (max-width: 1022px) {
    .video__subtitle {
        padding-top: 160px;
    }
}

@media screen and (max-width: 766px) {
    .video__subtitle {
        padding-left: 24px
    }
}

@media screen and (max-width: 373px) {
    .video__subtitle {
        padding-left: 16px;
        padding-top: 160px;
    }
}