@media screen and (max-width: 1278px) {
    .video__image-link_kamchatka {
        max-width: 456px;
        max-height: 288px;
    }
}

@media screen and (max-width: 1022px) {
    .video__image-link_kamchatka {
        max-width: 352px;
        max-height: 200px;
    }
}

@media screen and (max-width: 766px) {
    .video__image-link_kamchatka {
        max-width: 343px;
    }
}

@media screen and (max-width: 720px) {
    .video__image-link_kamchatka {
        max-width: 600px;
        max-height: 323px;
    }
}

@media screen and (max-width: 600px) {
    .video__image-link_kamchatka {
        max-width: 343px;
        max-height: 200px;
    }
}


@media screen and (max-width: 373px) {
    .video__image-link_kamchatka{
        max-width: 288px;
    }
}